
@import 'semantic';
@import 'fonticons';

/* My Styles */
#cheney i {
    color: aqua;
    font-size: 6em;
}

/* custon background */
.bg-1 {
    background: teal;
    transition: background 5s 1s;
}